<header class="header">
    <div class="header__main">
        <div id="before-search"></div>
        
        <form class="search">
            <input type="text" class="search__input" placeholder="Search for transactions, investments & reports">
            <i class="zwicon-search search__helper"></i>
            <i class="zwicon-arrow-left search__reset"></i>
        </form>

        

        <div class="user dropdown">
            <a data-toggle="dropdown" class="d-block" href="">
                <img class="user__img" src="{{ user.avatar }}" id="mini_avatar" onerror="this.src='img/avatar.png'" alt="{{ user.name }}">
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header">Hello {{ user.name }}!</div>
                <a class="dropdown-item" href="profile"><i class="zmdi zmdi-account"></i> View Profile</a>
                <a class="dropdown-item" href="privacy"><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
                <a class="dropdown-item" href="settings"><i class="zmdi zmdi-settings"></i> Settings</a>
                <a class="dropdown-item" href="logout"><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </div>
        </div>
    </div>
</header>

<div class="main">
    <div id="sidebar-links"></div>
    <input type="hidden" id="user_id" value="{{ user.id }}" name="">
    <section class="content">
        <div class="content__inner">
            <header class="content__title">
                <h1>Software Configuration</h1>
            </header>

            <!-- EQUITIES CHARGES -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Equities Charges
                                <span class="float-right">
                                    <a href="javascript:void(0);" onclick="showAddEquityChargeModal()" class="btn btn-outline-primary">
                                        <i class="fa fa-plus"></i> New
                                    </a>
                                </span>
                            </h4>
                            
                            <table class="table" id="equity_charges_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Rate (%)</th>
                                        <th>Vat (%)</th>
                                        <th>Total (%)</th>
                                        <th>Transaction</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="load-all-equities-charges">
                                    <tr>
                                        <td></td>
                                        <td>No data!</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ETF CHARGES -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">ETFs Rate & Charges

                                <span class="float-right">
                                    <a href="javascript:void(0);" onclick="showAddEtfChargeModal()" class="btn btn-outline-primary">
                                        New
                                    </a>
                                </span>
                            </h4>
                            
                            <table class="table" id="etf_charges_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Rate</th>
                                        <th>Vat</th>
                                        <th>Total</th>
                                        <th>Transaction</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="load-all-etfs-charges">
                                    <tr>
                                        <td></td>
                                        <td>No data!</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <!-- ACCOUNT TYPES -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Account Types

                                <span class="float-right">
                                    <a href="javascript:void(0);" onclick="showAddAccountTypeModal()" class="btn btn-outline-primary">
                                        New
                                    </a>
                                </span>
                            </h4>
                            
                            <table class="table" id="account_type_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="load-all-account-types">
                                    <tr>
                                        <td></td>
                                        <td>No data!</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- SHOW EQUITIES ADD CHARGES MODAL -->
<div class="modal fade" id="add-equity-charges-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p>CREATE</p>
            </div>
            <div class="modal-body">
                <form class="row" method="POST" onsubmit="return addEquityCharge()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="charge_name">Name</label>
                            <input type="text" id="charge_name" class="form-control" placeholder="Eg, Commission Fee, Sec fee etc" name="" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="charge_rate">Rate</label>
                            <div class="input-group">
                                <input type="text" id="charge_rate" class="form-control input mask" data-mask="0.000" placeholder="Enter rate" required="">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="charge_rate_vat">VAT</label>
                            <div class="input-group">
                                <input type="text" id="charge_rate_vat" class="form-control input mask" data-mask="0.000" placeholder="Enter vat" required="">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="trade_type">Trade type</label>
                            <select id="trade_type" class="select2" style="width: 100%;" required="">
                                <option value=""> -- select trade type -- </option>
                                <option value="1"> BUY </option>
                                <option value="2"> SELL </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-outline-primary">Save Charge</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-flat" type="button" data-dismiss="modal">
                        close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SHOW EQUITIES EDIT CHARGES MODAL -->
<div class="modal fade" id="edit-equity-charges-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p id="charge-edit-title"></p>
            </div>
            <div class="modal-body">
                <form class="row" method="POST" onsubmit="return updateEquityCharge()">
                    <input type="hidden" id="equity_charge_id" name="">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit_charge_name">Name</label>
                            <input type="text" id="edit_charge_name" class="form-control" placeholder="Eg, Commission Fee, Sec fee etc" name="" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit_charge_rate">Rate</label>
                            <div class="input-group">
                                <input type="text" id="edit_charge_rate" class="form-control input mask" data-mask="0.000" placeholder="Enter rate" required="">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit_charge_rate_vat">VAT</label>
                            <div class="input-group">
                                <input type="text" id="edit_charge_rate_vat" class="form-control input mask" data-mask="0.000" placeholder="Enter vat" required="">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit_trade_type">Trade type</label>
                            <select id="edit_trade_type" class="select2" style="width: 100%;" required="">
                                <option value=""> -- select trade type -- </option>
                                <option value="1"> BUY </option>
                                <option value="2"> SELL </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-outline-primary">Update Charge</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-flat" type="button" data-dismiss="modal">
                        close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SHOW ETFS ADD CHARGES MODAL -->
<div class="modal fade" id="add-etf-charges-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p>CREATE</p>
            </div>
            <div class="modal-body">
                <form class="row" method="POST" onsubmit="return addEtfCharge()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="etf_charge_name">Name</label>
                            <input type="text" id="etf_charge_name" class="form-control" placeholder="Eg, Commission Fee, Sec fee etc" name="" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="etf_charge_rate">Rate</label>
                            <div class="input-group">
                                <input type="text" id="etf_charge_rate" class="form-control input mask" data-mask="0.000" placeholder="Enter rate" required="">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="etf_charge_rate_vat">VAT</label>
                            <div class="input-group">
                                <input type="text" id="etf_charge_rate_vat" class="form-control input mask" data-mask="0.000" placeholder="Enter vat" required="">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="etf_trade_type">Trade type</label>
                            <select id="etf_trade_type" class="select2" style="width: 100%;" required="">
                                <option value=""> -- select trade type -- </option>
                                <option value="1"> BUY </option>
                                <option value="2"> SELL </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-outline-primary">Save Charge</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-flat" type="button" data-dismiss="modal">
                        close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SHOW ETFS EDIT CHARGES MODAL -->
<div class="modal fade" id="edit-etf-charges-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p id="charge-edit-title"></p>
            </div>
            <div class="modal-body">
                <form class="row" method="POST" onsubmit="return updateEtfCharge()">
                    <input type="hidden" id="etf_charge_id" name="">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit_etf_charge_name">Name</label>
                            <input type="text" id="edit_etf_charge_name" class="form-control" placeholder="Eg, Commission Fee, Sec fee etc" name="" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit_etf_charge_rate">Rate</label>
                            <div class="input-group">
                                <input type="text" id="edit_etf_charge_rate" class="form-control input mask" data-mask="0.000" placeholder="Enter rate" required="">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit_etf_charge_rate_vat">VAT</label>
                            <div class="input-group">
                                <input type="text" id="edit_etf_charge_rate_vat" class="form-control input mask" data-mask="0.000" placeholder="Enter vat" required="">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit_etf_trade_type">Trade type</label>
                            <select id="edit_etf_trade_type" class="select2" style="width: 100%;" required="">
                                <option value=""> -- select trade type -- </option>
                                <option value="1"> BUY </option>
                                <option value="2"> SELL </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-outline-primary">Update Charge</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-flat" type="button" data-dismiss="modal">
                        close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SHOW ADD ACCOUNT TYPE MODAL -->
<div class="modal fade" id="add-account-type-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p>Setup Account Type</p>
            </div>
            <div class="modal-body">
                <form class="row" method="POST" onsubmit="return addAccountType()">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="account_type_name">Account Name</label>
                            <input type="text" id="account_type_name" class="form-control" placeholder="Eg, Cash at Bank, Expense, Loans etc" name="" required="">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary">Add</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-flat" type="button" data-dismiss="modal">
                        close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        loadAllEquityCharges();
        loadAllEtfCharges();
        allAccountTypes();   
    });

    function formatTable(table_name) {
        if($(`#${table_name}`)[0]) {
            $(`#${table_name}`).DataTable({
                autoWidth:!1, responsive:!0, lengthMenu:[[5, 10, 25, -1], ["5 Rows", "10 Rows", "25 Rows", "Everything"]], language: {
                    searchPlaceholder: "Search for records..."
                }
                , sDom:'<"dataTables__top"flB<"dataTables_actions">>rt<"dataTables__bottom"ip><"clear">', buttons:[ {
                    extend: "excelHtml5", title: "Export Data"
                }
                , {
                    extend: "csvHtml5", title: "Export Data"
                }
                , {
                    extend: "print", title: "Material Admin"
                }
                ], initComplete:function() {
                    $(".dataTables_actions").html('<i class="zwicon-more-h" data-toggle="dropdown" /><div class="dropdown-menu dropdown-menu-right"><a href="" data-table-action="print" class="dropdown-item">Print</a><a href="" data-table-action="fullscreen" class="dropdown-item">Fullscreen</a><div class="dropdown-divider" /><div class="dropdown-header border-bottom-0 pb-0">Download as:</div><a href="" data-table-action="excel" class="dropdown-item">Excel (.xlsx)</a><a href="" data-table-action="csv" class="dropdown-item">CSV (.csv)</a></div>')
                }
            }
            ), $("body").on("click", "[data-table-action]", function(e) {
                e.preventDefault();
                var t=$(this).data("table-action");
                if("excel"===t&&$("#data-table_wrapper").find(".buttons-excel").click(), "csv"===t&&$("#data-table_wrapper").find(".buttons-csv").click(), "print"===t&&$("#data-table_wrapper").find(".buttons-print").click(), "fullscreen"===t) {
                    var a=$(this).closest(".card");
                    a.hasClass("card--fullscreen")?(a.removeClass("card--fullscreen"), $body.removeClass("data-table-toggled")): (a.addClass("card--fullscreen"), $body.addClass("data-table-toggled"))
                }
            })
        }
    }

    /*
    |-----------------------------------------
    | EQUITY SECTION JS
    |-----------------------------------------
    */
    function showAddEquityChargeModal() {
        $("#add-equity-charges-modal").modal();
    }

    function showEditEquityChargeModal(id) {
        $("#equity_charge_id").val(id);
        fetch(`${endpoint}/equity_charges/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            $("#charge-edit-title").html(results.name);
            $("#edit_charge_name").val(results.name);
            $("#edit_charge_rate").val(results.rate);
            $("#edit_charge_rate_vat").val(results.vat);
            $("#edit_trade_type").val(results.trade_type);
            $("#edit_trade_type").trigger('change');

            $("#edit-equity-charges-modal").modal();
        }).catch(err => {
            console.log(err);
        });
    }

    function updateEquityCharge() {
        var id          = $("#equity_charge_id").val();
        var name        = $("#edit_charge_name").val();
        var rate        = parseFloat($("#edit_charge_rate").val());
        var vat         = parseFloat($("#edit_charge_rate_vat").val());
        var trade_type  = $("#edit_trade_type").val();
        var total       = (rate + vat);

        var query = {name, rate, vat, trade_type, total}

        fetch(`${endpoint}/equity_charges/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(query)
        }).then(r => {
            return r.json();
        }).then(results => {
            console.log(results);
            swal.fire(
                results.status,
                results.message,
                results.status,
            );

            // refresh on success
            if(results.status == "success"){
                $("#edit-equity-charges-modal").modal('hide');
                loadAllEquityCharges();
            }
        }).catch(err => {
            console.log(err);
        })

        // void
        return false;
    }

    function addEquityCharge() {
        var name        = $("#charge_name").val();
        var rate        = parseFloat($("#charge_rate").val());
        var vat         = parseFloat($("#charge_rate_vat").val());
        var trade_type  = $("#trade_type").val();
        var total       = (rate + vat);

        var query = {name, rate, vat, trade_type, total}
        console.log(query);

        fetch(`${endpoint}/equity_charges`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(query)
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            swal.fire(
                results.status,
                results.message,
                results.status,
            );

            // refresh on success
            if(results.status == "success"){
                $("#add-equity-charges-modal").modal('hide');
                loadAllEquityCharges();
            }
        }).catch(err => {
            console.log(err);
        })

        // void
        return false;
    }

    function loadAllEquityCharges() {
        fetch(`${endpoint}/equity_charges`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            var sn = 0;
            $("#load-all-equities-charges").html("");
            $.each(results, function(index, val) {
                sn++;

                var transaction_type;
                if(val.trade_type == 1){
                    transaction_type = `<i class="fa fa-angle-down text-green"></i> BUY`;
                }else if(val.trade_type == 2){
                    transaction_type = `<i class="fa fa-angle-up text-danger"></i> SELL`;
                }

                $("#load-all-equities-charges").append(`
                    <tr>
                        <td>${sn}</td>
                        <td>${val.name}</td>
                        <td>${val.rate}</td>
                        <td>${val.vat}</td>
                        <td>${numeral((val.rate + val.vat)).format('0,0.00')}</td>
                        <td>${transaction_type}</td>
                        <td>
                            <a href="javascript:void(0);" onclick="showEditEquityChargeModal(${val.id})" class="btn btn-outline-info btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="javascript:void(0);" onclick="deleteRate(${val.id})" class="btn btn-outline-danger btn-sm">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                `);
            });

            setTimeout((t) => {
                formatTable('equity_charges_table');
            }, 1000 * 2);
        }).catch(err => {
            console.log(err);
        });
    }

    function deleteRate(id) {
        var query = {equity_charge_id: id}
        fetch(`${endpoint}/equity_charges/${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(query)
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            swal.fire(
                results.status,
                results.message,
                results.status,
            );

            // refresh on success
            if(results.status == "success"){
                loadAllEquityCharges();
            }
        }).catch(err => {
            console.log(err);
        });
    }

    /*
    |-----------------------------------------
    | ACCOUNT CLASS SECTION JS
    |-----------------------------------------
    */
    function showAddAccountTypeModal() {
        // add account type
        $("#add-account-type-modal").modal();
    }

    function allAccountTypes() {
        fetch(`${endpoint}/account/type`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            $("#load-all-account-types").html("");
            var sn = 0;
            $.each(results, function(index, val) {
                sn++;
                if(val.status == 1){
                    val.status = 'active';
                }else{
                    val.status = 'inactive';
                }

                $("#load-all-account-types").append(`
                    <tr>
                        <td>${sn}</td>
                        <td>${val.name}</td>
                        <td>${val.status}</td>
                        <td>
                            <a href="javascript:void(0);" onclick="editAccountType" class="btn btn-outline-info btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="javascript:void(0);" onclick="deleteAccountType" class="btn btn-outline-danger btn-sm" disabled>
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                `);
            });

            setTimeout((t) => {
                formatTable('account_type_table');
            }, 1000 * 2);
        }).catch(err => {
            console.log(err);
        })
    }

    function addAccountType() {
        var name  = $("#account_type_name").val();
        var query = {name}

        fetch(`${endpoint}/account/type`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(query)
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            swal.fire(
                results.status,
                results.message,
                results.status,
            );

            // refresh on success
            if(results.status == "success"){
                $("#add-account-type-modal").modal('hide');
                allAccountTypes();
            }
        }).catch(err => {
            console.log(err);
        });

        // void
        return false;
    }

    /*
    |-----------------------------------------
    | ETF SECTION JS
    |-----------------------------------------
    */
    function showAddEtfChargeModal() {
        // body...
        $("#add-etf-charges-modal").modal();
    }

    function addEtfCharge() {
        var name        = $("#etf_charge_name").val();
        var rate        = parseFloat($("#etf_charge_rate").val());
        var vat         = parseFloat($("#etf_charge_rate_vat").val());
        var trade_type  = $("#etf_trade_type").val();
        var total       = (rate + vat);

        var query = {name, rate, vat, trade_type, total}
        console.log(query);

        fetch(`${endpoint}/etfs_charges`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(query)
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            swal.fire(
                results.status,
                results.message,
                results.status,
            );

            // refresh on success
            if(results.status == "success"){
                $("#add-equity-charges-modal").modal('hide');
                loadAllEquityCharges();
            }
        }).catch(err => {
            console.log(err);
        })

        // void
        return false;

        // void
        return false;
    }

    function loadAllEtfCharges() {
        fetch(`${endpoint}/etfs_charges`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            var sn = 0;
            $("#load-all-etfs-charges").html("");
            $.each(results, function(index, val) {
                sn++;

                var transaction_type;
                if(val.trade_type == 1){
                    transaction_type = `<i class="fa fa-angle-down text-green"></i> BUY`;
                }else if(val.trade_type == 2){
                    transaction_type = `<i class="fa fa-angle-up text-danger"></i> SELL`;
                }

                $("#load-all-etfs-charges").append(`
                    <tr>
                        <td>${sn}</td>
                        <td>${val.name}</td>
                        <td>${val.rate}</td>
                        <td>${val.vat}</td>
                        <td>${numeral((val.rate + val.vat)).format('0,0.00')}</td>
                        <td>${transaction_type}</td>
                        <td>
                            <a href="javascript:void(0);" onclick="showEditEtfChargeModal(${val.id})" class="btn btn-outline-info btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="javascript:void(0);" onclick="deleteEtfRate(${val.id})" class="btn btn-outline-danger btn-sm">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                `);
            });

            setTimeout((t) => {
                formatTable('etf_charges_table');
            }, 1000 * 2);
        }).catch(err => {
            console.log(err);
        });
    }

    function showEditEtfChargeModal(id) {
        $("#etf_charge_id").val(id);
        fetch(`${endpoint}/etfs_charges/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            $("#charge-edit-title").html(results.name);
            $("#edit_etf_charge_name").val(results.name);
            $("#edit_etf_charge_rate").val(results.rate);
            $("#edit_etf_charge_rate_vat").val(results.vat);
            $("#edit_etf_trade_type").val(results.trade_type);
            $("#edit_etf_trade_type").trigger('change');

            $("#edit-etf-charges-modal").modal();
        }).catch(err => {
            console.log(err);
        });
    }

    function updateEtfCharge() {
        var id          = $("#etf_charge_id").val();
        var name        = $("#edit_etf_charge_name").val();
        var rate        = parseFloat($("#edit_etf_charge_rate").val());
        var vat         = parseFloat($("#edit_etf_charge_rate_vat").val());
        var trade_type  = $("#edit_etf_trade_type").val();
        var total       = (rate + vat);

        var query = {name, rate, vat, trade_type, total}

        fetch(`${endpoint}/etfs_charges/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(query)
        }).then(r => {
            return r.json();
        }).then(results => {
            console.log(results);
            swal.fire(
                results.status,
                results.message,
                results.status,
            );

            // refresh on success
            if(results.status == "success"){
                $("#edit-equity-charges-modal").modal('hide');
                loadAllEtfCharges();
            }
        }).catch(err => {
            console.log(err);
        })

        // void
        return false;
    }

    function deleteEtfRate(id) {
        var query = {etf_charge_id: id}
        fetch(`${endpoint}/etf_charges/${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(query)
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            swal.fire(
                results.status,
                results.message,
                results.status,
            );

            // refresh on success
            if(results.status == "success"){
                loadAllEtfCharges();
            }
        }).catch(err => {
            console.log(err);
        });
    }
</script>