<div class="error">
    <div class="error__inner">
        <h1>40<span>4</span></h1>
        <h2>The page you were looking for doesn't exist!</h2>
        <p>
        	You can do the following.. <br />

        	1. check url link<br />
        	2. refresh your browser<br />
        	3. logout and login<br />
        	4. check your internet connection<br />
        </p>

        <div class="error__actions">
            <a href="../">Go back to home page</a>
        </div>
    </div>
</div>